@using Exercises.Web.Models;
@model ColorizerModel



@{
    ViewBag.Title = "ColorizedFormResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Result</h2>

<p>First Name: @Model.FirstName</p>
<p>Last Name: @Model.LastName</p>

@if (Model.IsRed)
{
    <p style="color: red;">Red: @Model.FirstName @Model.LastName</p>
}

@if (Model.IsBlue)
{
    <p style="color: blue;">Blue: @Model.FirstName @Model.LastName</p>
}

@if (Model.IsGreen)
{
    <p style="color: green;">Green: @Model.FirstName @Model.LastName</p>
}

@if (!String.IsNullOrEmpty(Model.MiscellaneousColor))
{
    <p style="color: @Model.MiscellaneousColor">@Model.FirstName @Model.LastName</p>
}
